.icon-row {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  /* row는 옆에 column은 다음 줄에 오는 것 */
  align-items: center;
  padding: 0px 15px; /* 니코는 없는 부분 */
}

.icon-row__icon i {
  font-size: 30px;
}

.icon-row__icon span {
  margin-top: 18px;
}
