.status-bar {
  position: fixed; /* 원하는 곳에 위치 고정시키기 위함 */
  top: 0;
  width: 100%;
  display: flex;
  /* justify-content: space-between; 화면 크기에 맞춰 배열하기 */
  justify-content: center;
  padding: 5px 3px;
}

.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 5px; /* 공백 */
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
