.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  object-fit: cover; /* 사진 비율 그대로 유지하기 위함 */
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 35px;
}

.user-component__name {
  font-weight: 600;
  font-size: 20px;
}

.user-component__subtitle {
  margin-top: 7px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__name--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.user-component__more {
  margin-top: 10px;
}

.user-component__text span {
  position: absolute;
  color: tomato;
  font-size: 14px;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  border: 1px solid tomato;
  text-align: center;
  top: 154px;
  right: 220px;
}
